*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hovers{
  transition: all 0.2s;
  cursor: pointer;
}
.hovers:hover{
  opacity: 0.8;
}
.icon{
  cursor: pointer !important;
  font-size: 16px;
}
.text-black{
  color: #000 !important;
}
.nav-item .nav-link{
  color:#606060;
  margin-right: 40px;
}
.nav-item.active .nav-link{
  color:#FFF;
  background-color: #2D2A2B;
  border-radius: 20px;
}
/* ddddd */
.head{
  width: 50%;
}
@media (max-width:676px) {
  .head{
    width: 100%;
  }
  .head-tri::before{
    display: none;
  }
}
.head-tri::before{
  content: "";
  position: absolute;
  border-width: 15px ;
  border-style: solid ;
  border-color:  transparent transparent transparent #130C26 ;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.video-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: 90vh;
  display: block; /* Removes unwanted spacing under the video */
  object-fit: cover; /* Ensures the poster image covers the full width */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.play-button {
  font-size: 50px;
  color: white;
  cursor: pointer;
}

.play-button i {
  font-size: 4rem;
}

.text-content {
  margin-top: 20px;
  position: absolute;
  white-space: nowrap; /* Prevent text wrapping */
  right: 0%; /* Start outside the right edge */
  animation: moveAcross 8s linear infinite; /* Move across the screen */
}

.text-content h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.text-content p {
  font-size: 1rem;
  margin: 0.5rem 0 0;
}
 .about-desc {
  font-style: italic;
  font-weight: 700;
  line-height: 43.65px;
  text-align: left;
}
.titles{
  position: relative;
  padding-bottom: 10px;
}
.titles::before{
  content: "";
  position: absolute;
  width: 100px;
  bottom: 0;
  left: 5px;
  border-radius: 5px;
  border-bottom: 4px solid #D16D0A9C;
}
footer{
  background: url(../img/footer-bg.png);
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width:992px) {
  footer{
  background-position: center;
  }
}
.slider-row-container-1,.slider-row-container-2,.slider-row-container-3 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow-left, .arrow-right {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.slider-container-1,.slider-container-2,.slider-row-container-3 {
  overflow: hidden;
}

.slider-1,.slider-2,.slider-3 {
  display: flex;
  transition: transform 0.3s ease;
}

.slider-card-1 {
  flex: 0 0 auto;
  width: 350px;
  margin-right: 20px;
}
.slider-card-2,.slider-card-3 {
  flex: 0 0 auto;
  width: 255px;
  margin-right: 20px;
}


@media (max-width:992px) {
  .my-img{
    height: 500px !important;
  }
}

@keyframes moveAcross {
  0% {
    right: 0%; /* Start from outside the screen (right side) */
  }
  100% {
    right: 100%; /* End off the screen (left side) */
  }
}